* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365, rgb(56, 47, 27));
  color: black;
  font-family: Poppins, sans-serif;
  text-align: center;
  position: relative;
}

header {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 2px solid black;
}
button {
  cursor: pointer;
}

#sortButton {
  margin-left: 2em;
  border-radius: 30%;
}
#addButton {
  margin-left: 2em;
  border-radius: 30%;
}
#sortButton:hover,
#addButton:hover {
  background-color: green;
  color: white;
}

#counter {
  font-size: 1.5em;
  font-weight: 800;
  color: white;
}

#control-section {
  margin-top: 5vh;
}
#view-section {
  display: flex;
  position: relative;
  min-height: 20vh;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 7vh;
  width: 80%;
  border: 2px solid black;
  min-height: 50vh;
}
.QA {
  margin: 10px 0;
  justify-content: space-between;
}
#priority-text {
  margin: 10px 10px;
}
#task-head {
  border-bottom: 2px solid black;
}
.todoContainer {
  position: relative;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid black;
}
.todoPriority,
.todoCreatedAt,
.todoText {
  display: inline-block;
  margin: 10px;
}

footer {
  position: relative;
  margin-bottom: 0;
  background-image: linear-gradient(120deg, rgb(56, 47, 27), #f6d365);
  border-top: 2px solid black;
  height: 5em;
  width: 100%;
  text-align: left;
  color: white;
  bottom: 0;
}

.color-pick {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-div {
  width: 200px;
  height: 200px;
  background-color: white;
  cursor: pointer;
}

.color-button {
  position: relative;
  display: flex;
  top: 0;
  right: 0;
}

.delete {
  float: right;
  background-color: black;
  color: white;
}
@media (min-width: 600px) {
  .delete {
    display: inline;
  }
  .color-button {
    display: inline;
  }
  .section {
    font-size: 10px;
    width: 100%;
  }
  .body {
    background-color: white;
  }
}
.delete:hover {
  background-color: red;
  color: black;
}

.done {
  float: right;
  background-color: green;
  color: white;
  cursor: pointer;
}
.done:hover {
  background-color: blue;
}
.task-done {
  color: white;
  background-image: linear-gradient(120deg, black, rgba(255, 255, 255, 0.61));
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background: white;
}

h6 {
  text-align: center;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(-9px);
}
